<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-briefcase-fill"></i> Sistema de Ofertas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house-door"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crud">
                        <i class="bi bi-gear"></i> Gestión CRUD
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listado">
                        <i class="bi bi-list-check"></i> Listado Completo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crud/nuevo" style="background-color: #198754; border-radius: 5px; padding: 5px 15px;">
                        <i class="bi bi-plus-circle"></i> Nueva Oferta
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>